﻿@using xpos314.viewmodels
@model VMTblVariant

@{
    ViewData["Title"] = "Delete Variant";
    //Layout = null;
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />

            <h3>Are you sure for delete @Model.NameVariant ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-action="Index" asp-controller="Variant" class="btn btn-light">Back to list</a>
            </div>

        </form>

    </div>
</div>