﻿@using xpos314.datamodels
@model TblRole
@{
    //Layout = null;
    //Layout = Model == null ? null : Layout;
    ViewData["Title"] = "Create Role";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Create Role</div>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
                    <span id="validate_RoleName" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            RoleName: {
                required: true,
                minlength: 5
            }
        },
        messages: {
            required: "Please fill name Role",
            minlength: "The name must consist of at least 5 characters",
        },

        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            var roleName = $("#RoleName").val()

            $.ajax({
                url: "/Role/CheckNameIsExist",
                //method : "get"
                type: "get",
                dataType: "json",
                data: { roleName: roleName },
                success: function (respon) {
                    if (respon) {
                        $("#validate_RoleName").text("Role Name Is already exists")
                        return true
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            type: "post",
            url: "/Role/Create",
            dataType: "json",
            data: dataParam,
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $(".modal").modal("hide")
                    toastr.success
                        (
                            data.message,
                            "",
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )

                }
                else {
                    //Toast.fire({
                    //    icon : "Failed",
                    //    title : data.message
                    //})
                    toastr.error(data.message)
                }
            }
        })
    }

</script>


