﻿@using xpos314.datamodels
@model TblRole
@{
    //Layout = null;
    //Layout = Model == null ? null : Layout;
    ViewData["Title"] = "Detail Role";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Detail Role</div>
        <form asp-action="Detail" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
                    <span id="validate_RoleName" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>
