﻿@using xpos314.viewmodels
@model VMTblVariant

@{
    Layout = null;
    ViewData["Title"] = "Detail Variant Try";
}

<div class="card mb-lg-0">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
                    @*<span asp-validation-for="NameVariant" class="text-danger"></span>*@
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @*@Html.DropDownList("IdCategory",
                    new SelectList(ViewBag.DropdownCategory, "Id", "NameCategory"),
                    "---Pilih Category---",
                    new { @class = "form-control"}
                    )*@
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                    <span asp-validation-for="NameCategory" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                </div>
            </div>
            <div class="">
                <a class="btn btn-light" asp-controller="VariantTry" asp-action="Index">Back to list</a>
            </div>
        </form>

    </div>
</div>