﻿@using xpos314.viewmodels
@model VMTblCategory
@{
    Layout = null;
    //Layout = Model == null ? null : Layout;
    ViewData["Title"] = "Create Category";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Create Category</div>
        <form asp-action="Create" method="post">
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                    <span asp-validation-for="NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>