﻿@using xpos314.viewmodels
@model VMTblCategory

@{
    ViewData["Title"] = "Delete Category Try";
    Layout = null;
}

<div class="card">
    <div class="card-body">

        <form asp-action="Delete" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />

            <h3>Are you sure for delete @Model.NameCategory ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-action="Index" class="btn btn-light">Back to list</a>
            </div>

        </form>

    </div>
</div>