﻿@using xpos314.viewmodels
@model VMTblCategory

@{
    ViewData["Title"] = "Detail Category Try";
    Layout = null;
}


<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Detail">
            <input type="hidden" id="id" name="id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>