﻿@model Friend
@{
    ViewData["Title"] = "Delete Friend";
}

<div class="h3 mb-6">Are you sure delete this data @Model.Name ?</div>
<form action="Delete" method="post">
    <div>
        <button type="submit" class="btn btn-danger" asp-route-id = "@Model.Id">Yes</button>
        <a class="btn btn-primary" asp-controller="Friend" asp-action="Index">No</a>
    </div>
</form>
