﻿@using xpos314.datamodels
@using xpos314.viewmodels
@model VMTblCustomer
@{
    //Layout = null;
    //Layout = Model == null ? null : Layout;
    ViewData["Title"] = "Create Customer";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Create Customer</div>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdRole" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdRole",
                    new SelectList(ViewBag.ListRole, "Id", "RoleName"),
                    "---Pilih Role---",
                    new { @class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCustomer: {
                required: true,
                minlength: 5
            },
            IdRole: "required",
            Email: "required",
            Password: {
                required: true,
                minlength: 8
            },
            Phone: {
                required: true,
                minlength: 11
            },
            Address: "required"
        },
        messages: {
            NameCustomer: {
                required: "Please fill name customer",
                minlength: "The name must consist of at least 5 characters"
            },
            IdRole: "Please select role",
            Email: "Please fill email",
            Password: {
                required: "Please fill password",
                minlength: "The name must consist of at least 8 characters"
            },
            Phone: {
                required: "Please fill phone",
                minlength: "The name must consist of at least 11 characters"
            },
            address: "Please fill address"
        },

        submitHandler: function (form) {
            var dataForm = $(form).serialize()

            $.ajax({
                type: "post",
                url: "/Customer/Create",
                dataType: "json",
                data: dataForm,
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $(".modal").modal("hide")
                        toastr.success
                            (
                                data.message,
                                "",
                                {
                                    timeOut: 500,
                                    fadeOut: 500,
                                    onHidden: function () {
                                        window.location.reload()
                                    }
                                }
                            )

                    }
                    else {
                        toastr.error(data.message)
                    }
                }
            })
        }
    })

</script>