﻿@using xpos314.datamodels
@using xpos314.viewmodels
@model VMTblProduct
@{
    //Layout = null;
    //Layout = Model == null ? null : Layout;
    //ViewData["Title"] = "Create Product";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Create Product</div>
        <form asp-action="Create" method="post" id="form_input" enctype="multipart/form-data">
            
            <div class="mb-4 row">
                <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",
                    new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),
                    "---Pilih Category---",
                    new { @class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdVariant",
                    new SelectList(ViewBag.ListVariant, "Id", "NameVariant"),
                    "---Pilih Variant---",
                    new { @class = "form-control"}
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                    <input type="text"  class="form-control" id="Stock" name="Stock" value="@Model.Stock">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Upload Image</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Product" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameProduct: {
                required: true,
                minlength: 5
            },
            Price: {
                required: true,
                number: true
            },
            Stock: {
                required: true,
                number: true
            },
            ImageFile: {
                required: true,
                typeFile: "jpg|jpeg|png",
                uploadFile: true
            },
            IdCategory: "required",
            IdVariant: "required"
        },
        messages: {
            NameProduct: {
                required: "Please fill name product",
                minlength: "The name must consist of at least 5 characters"
            },
            Price: {
                required: "Please fill price",
                number: "Please fill number only"
            },
            Stock: {
                required: "Please fill stock",
                number: "Please fill number only"
            },
            ImageFile: {
                required: "please fill image",
                typeFile: "Please upload jpg || jpeg || png",
                uploadFile: "Please upload < 1MB"
            },
            IdCategory: "Please select category",
            IdVariant: "Please select variant"
        },

        submitHandler: function (form) {

            var formData = new FormData()

            var dataForm = $(form).serializeArray()

            $.each(dataForm, function(key, input){
                formData.append(input.name, input.value)
            })

            var file = $("#ImageFile").prop("files")
            if (file.length > 0) {
                formData.append("ImageFile", file[0])
            }

            $.ajax({
                type : "post",
                url : "/Product/Create",
                dataType : "json",
                contentType : false,
                processData : false,
                data : formData,
                success : function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $(".modal").modal("hide")
                        toastr.success
                        (
                            data.message,
                            "",
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                window.location.reload()
                                }
                            }
                        )

                    }
                    else {
                        toastr.error(data.message)
                    }
                }
            })
        }
    })

    $("#IdCategory").change(function(){
        var idCategory = $(this).val()
        $.ajax({
            url :"/Product/GetDataByIdCategory",
            data : { id : idCategory },
            type : "get",
            dataType : "json",
            success : function(respon){
                $("#IdVariant").empty()
                $("#IdVariant").append("<option>---Pilih Variant---</option>")
                $.each(respon, function(index, res){
                    $("#IdVariant").append("<option value='" + res.id + "'>" + res.nameVariant + "</option>")
                })
            }
        })
    })

    jQuery.validator.addMethod("typeFile", function(value, element, param) {
        return value.match(new RegExp("." + param + "$"));
    });

    jQuery.validator.addMethod("uploadFile", function(val, element) {
        var size = element.files[0].size;

        if (size > 1048576) //Checks teh file more than 1 MB 
        {
            return false;
        }
        else {
            return true;
        }
    })

</script>


