﻿@using xpos314.datamodels
@using xpos314.viewmodels
@model VMTblProduct
@{
    //Layout = null;
    //Layout = Model == null ? null : Layout;
    //ViewData["Title"] = "Edit Product";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Detail Product</div>
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Stock" class="col-sm-4 col-form-label">Stock</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ImageFile" class="col-sm-4 col-form-label">Upload Image</label>
                <div class="col-sm-8">
                    @*<input type="file" class="form-control" id="ImageFile" name="ImageFile" value="@Model.Image">*@
                    <br>
                        @{
                            if (@Model.Image != null)
                            {
                                <img src="~/Images/@Model.Image" height="100" width="100" />
                                @*<input type="hidden" name="Image" value="@Model.Image" />*@

                        //        @{
                        //              string image = (@Model.Image!.Replace(@Model.Image!.Split('_'[0], "")).Substring(1);
                        //              if (@Model.Image != null)
                        //              {
                        //                  <img src="~/Images/@Model.Image" height="100" width="100" />
                        //                  <input type="text" name="Image" value="@Model.Image" />
                        //              }
                        //        }
                        //}
                            }
                        }
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <a class="btn btn-light" asp-controller="Product" asp-action="Index">Back to list</a>
                </div>
            </div>
    </div>
</div>

