﻿@using xpos314.datamodels
@model TblCategory
@{
    //Layout = null;
    //Layout = Model == null ? null : Layout;
    ViewData["Title"] = "Detail Category";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">Detail Category</div>
        <form asp-action="Detail" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                    <span id="validate_NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>
