﻿@using xpos314.datamodels
@model xpos314.viewmodels.PaginatedList<TblCategory>

@{
    ViewData["Title"] = "Category";
}

<div class="card">
    <div class="card-body">

            <h1 class="card-title mb-4">@ViewData["Title"]</h1>
        <form asp-action="Index" method="get" id="form_search">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" id="btn_create">Create</button>
                        <button type="button" class="btn btn-primary" id="btn_toast">Toast</button>

                        <div class="input-group w-50">
                            <input type="text" class="form-control" id="searchString" name="searchString" value="@ViewBag.currentFilter" 
                            placeholder="Search..." />

                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btn_search"><i class="fas fa-search"></i></div>  
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="cursor:pointer" id="btn_reset"><i class="fas fa-redo"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            <table class="table table-hover text-center mb-3">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.nameSort" asp-route-currentFilter="@ViewBag.currentFilter"
                               asp-route-pageNumber="@ViewBag.PageIndex" asp-route-showData="@ViewBag.currentShowData">
                            <i class="fas fa-sort"></i>
                            Name Category
                            </a>
                        </th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NameCategory</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <a class="btn btn-primary btn_edit" style="color: white" dataid="@item.Id">Edit</a>
                                        <a class="btn btn-success btn_detail" style="color: white" dataid="@item.Id">Detail</a>
                                        <a class="btn btn-danger btn_delete" style="color: white" dataid="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        } 
                        else
                        {
                            <tr>
                                <td colspan="3">Data not found</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-between">
                        <div class="btn-group">
                            <div class="mr-2">
                                show
                            </div>
                            <form asp-action="Index" id="form_pagesize">
                            <select name="PageSize" id="PageSize" aria-controls="zero_config" class="form-control form-control-sm w-auto">
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="50">50</option>
                            </select>
                            </form>
                            <div class="ml-2">entries from @Model.TotalData data</div>
                            <input type="hidden" name="sortOrder" id="sort_change" value="" />
                        </div>
                        @{
                            var prevDisable = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisable = !Model.HasNextPage ? "disabled" : "";
                        }
                        <div class="w-auto">
                            Page @Model.PageIndex of @Model.TotalPages
                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort"
                            asp-route-pageNumber="@(Model.PageIndex - 1)" 
                            asp-route-currentFilter="@ViewBag.CurrentFilter"
                            asp-route-showData="@ViewBag.currentShowData" 
                            class="btn btn-primary @prevDisable">
                            Previous
                            </a>
                            <a asp-action="Index" asp-route-sortOrder="@ViewBag.CurrentSort"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewBag.CurrentFilter"
                               asp-route-showData="@ViewBag.currentShowData"
                               class="btn btn-primary @nextDisable">
                               Next
                            </a>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<script>

    $(document).ready(function(){

        $("#btn_search").click(function () {
            $("#sort_change").val("@ViewBag.CurrentSort")
            $("#form_search").submit()
        })

        $("#btn_reset").click(function () {
            $("#searchString").val("")
            $("#form_search").submit()
        })

        $("#btn_create").click(function(){
            $("#modal-body").empty();
            $("#modal-body").load("/Category/Create")
            $("#myModal").modal("show");
        })

        $("#btn_toast").click(function () {
            toastr.success("Berhasil")
        })

        $(".btn_detail").click(function(){

            var id = $(this).attr("dataid")
            $("#modal-body").empty();
            $("#modal-body").load("/Category/Detail?id=" + id)
            $("#myModal").modal("show");
        })

        $(".btn_edit").click(function(){
            //alert("masuk")
            var id = $(this).attr("dataid")
            console.log(id)
            $("#modal-body").empty();
            $("#modal-body").load("/Category/Edit?id=" + id)
            $("#myModal").modal("show");
        })

        $(".btn_delete").click(function(){
            var id = $(this).attr("dataid");
            $("#modal-body").empty();
            $("#modal-body").load("/Category/Delete?id=" + id)
            $("#myModal").modal("show");
        })

        $("#PageSize").val(@ViewBag.CurrentPageSize)

        $("#PageSize").change(function(){
            $("#form_pagesize").submit();
        })
    })
</script>